.body {
    width: 100vw;
    height: 100vh;
    background-color: red;
    margin: auto;
    overflow: hidden;
}

.card {
    background-color: aquamarine;
}

.card-head {
    text-align: center;
}

.card h3 {
    text-align: center;
}

.card .contenttitle {
    border-radius: 5px;
    background-color: rgb(245, 106, 106);
}

.card .contenttitle h3 {
    font-size: 20px;
}